// import global styles variables file
@import "../../assets/styles/variables";

.page {
  height: 1600px;
}

.main{
  position: relative;
  display: grid ;
  grid-template-columns: 1fr 1fr;
  background: $background-colour;

  .title {
    position: absolute;

    top: 10%;
    left: 0%;
    transform: rotate(320deg);
    font-family: $font-title;
    color: $my-black;
  }
  
  .leftBackground {
    position: relative;
    grid-column-start: 1;
    grid-column-end: 2;

    width: 100%;
    height: 100%;

    background: rgba($primary-colour, 0.7);

    .cloudOne {
      position: absolute;
      top: 3%;
      left: 5%;
      width: 200px;
      height: 200px;
    }

    .cloudTwo {
      position: absolute;
      top: 14%;
      right: 5%;
      width: 240px;
      height: 240px;
    }

    .cloudThree {
      position: absolute;
      top: 35%;
      left: 5%;
      width: 180px;
      height: 180px;
    }
  }

  .rightBackground {
    grid-column-start: 2;
    grid-column-end: 3;

    display: flex;
    justify-content: flex-end;
    align-items: center;

    width: 100%;
    height: 100%;
    background: radial-gradient(100% 50% at 100% 50%, rgba($secondary-colour, 0.82) 30%, rgba($secondary-colour, 0) 100%);

    overflow-x: hidden;

    .sun {
      margin-right: -300px;
      width: 600px;
      height: 600px;
      border-radius: 50%;
      background: rgba($secondary-colour, 0.9);
    }
  }

  .projectContainer {
    width: 80%;
    height: auto;
  
    // display: flex;
    // flex-wrap: wrap;
    // justify-content: center;
  
    .projectTile {
      display: flex; 
      flex-direction: column;
      align-items: center;

      // margin: 30px;
      // padding: 15px;
    
      // width: 200px;
      // height: 300px;
    
      border: 2px solid $my-black;
      // border-radius: 30px;

      color: $my-black;
      font-family: $font-standard;

      .tileMotion {
        opacity: 0;
        height: 100%;
        width: 100%;
      }

      h3 {
        text-align: center;
        // font-size: 24px;
        // letter-spacing: 0.1em;
      }
    }
  
    .calc {
      background: $my-grey;
    }
  
    .game {
      background: $my-grey;
    }
  
    .morse {
      background: $my-grey;
    }
  
    .punk {
      background: $my-grey;
    }
  
    .knowaste {
      background: $my-grey;
    }
  }
}





// Responsive design

// ultra-wide screen (for screens wider than desktop-breakpoint)
@media screen and (min-width: $desktop-breakpoint) {
  .main {
    
    .title {
      font-size: 96px;
      letter-spacing: 0.2em;
    }
    
    .projectContainer {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    
      .projectTile {
  
        margin: 30px;
        padding: 15px;
      
        width: 200px;
        height: 300px;

        border-radius: 30px;
  
        h3 {
          font-size: 24px;
          letter-spacing: 0.1em;
        }
      }
    }
  }
}

// desktop
@media screen and (min-width: $tablet-breakpoint) and (max-width: $desktop-breakpoint){
  .main{
    
    .title {
      font-size: 72px;
      letter-spacing: 0.2em;
    }
    
    .projectContainer {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;

      .projectTile {
  
        margin: 30px;
        padding: 15px;
      
        width: 200px;
        height: 300px;

        border-radius: 30px;
  
        h3 {
          font-size: 24px;
          letter-spacing: 0.1em;
        }
      }
    }
  }
}

// Tablet
@media screen and (min-width: $mob-breakpoint) and (max-width: $tablet-breakpoint){
  .main{
    

    .title {
      font-size: 72px;
      letter-spacing: 0.3em;
    }

    .a {
      all: revert;
      
    }
    
    .projectContainer {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      

      .projectTile {
  
        margin: 30px;
        padding: 15px;
      
        width: 200px;
        height: 300px;

        border-radius: 30px;
  
        h3 {
          font-size: 24px;
          letter-spacing: 0.1em;
        }
      }
    }
  }
}

// mobile (below a certain width)
@media screen and (max-width: $mob-breakpoint) {
  .main{
    
    .title {
      font-size: 42px;
      letter-spacing: 0.2em;
      margin-top: 30px;
    }
    
    .projectContainer {
      display: flex;
      flex-direction: column;
      align-items: center;    

      .projectTile {
  
        margin-top: 50px;
        margin-left: auto;
        margin-right: auto;
        padding: 15px;
      
        width: 80%;
        height: 300px;

        border-radius: 30px;
  
        h3 {
          font-size: 16px;
          letter-spacing: 0.1em;
        }
      }
    }
  }
}