// import global styles variables file
@import "../../assets/styles/variables";

.landingPage {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100vh;
  width: 100vw;
}

.main{
  align-items: center;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;

  background: $my-black;
  color: white;

}

// Responsive design

// ultra-wide screen (for screens wider than desktop-breakpoint)
@media screen and (min-width: $desktop-breakpoint) {
  
}

// desktop
@media screen and (min-width: $tablet-breakpoint) and (max-width: $desktop-breakpoint){
  
}

// Tablet
@media screen and (min-width: $mob-breakpoint) and (max-width: $tablet-breakpoint){
  
}

// mobile (below a certain width)
@media screen and (max-width: $mob-breakpoint) {
  
}