// import global styles variables file
@import "../../assets/styles/variables";

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 0px;
  background: $my-grey;

  .title {
    // font-size: 102px;
    // letter-spacing: 0.3em;
    color: $primary-colour;
    font-family: $font-title;

    // margin-top: 100px;
  }

  .blankBoxRight {
    border-radius: 30px 0px 0px 30px;
    // height: 80%;
  }

  .blankBoxLeft {
    border-radius: 0px 30px 30px 0px;
    // height: 100%;
  }
  
  .aboutText {
    // position: relative;
    display: flex;
    // flex-direction: row;
    // align-items: center;
    // justify-content: space-between;
    font-family: $font-standard;

    width: 100%;
    // height: 200px;
    // margin-top: 100px;
    // margin-bottom: 200px;

    .blankBox {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 30px;

      background: $background-colour;

      // width: 60%;
      // z-index: 2;

      p {
        // font-size: 24px;
        color: $my-black;
      }
    }

    .profileImage {
      // position: absolute;
      // height: 450px;
      // width: 450px;
      // right: 2%;
      // top: -50%;

      object-fit: cover;
      // z-index: 0;
      border-radius: 50%;
      filter: grayscale(80%);
    }

    .svg {
      // width: 350px;
      // height: 180px;
      object-fit: cover;
      // margin-left: 5%;
    }
  }

  .techContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    height: auto;
    padding: 30px;

    .techTitle {
      // font-size: 72px;
      // letter-spacing: 0.3em;
      color: $my-pink;
      font-family: $font-title;
      text-align: center;
      // margin-bottom: 150px;
    }

    .techIconContainer {
      display: flex;
      // flex-direction: row;
      // align-items: center;
      // justify-content: space-between;

      // background: $my-pink;
      width: 100%;
      // height: 100px;

      .iconTile {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
      

        img {
          // width: 100px;
          // height: 100px;
          object-fit: cover;
        }

        p {
          text-align: center;
          font-family: $font-standard;
          color: $my-black;
          // font-weight: 600;
          // font-size: 28px;
          margin: 0px;
        }
      }
    }
  }
}
// Responsive design

// ultra-wide screen (for screens wider than desktop-breakpoint)
@media screen and (min-width: $desktop-breakpoint) {
  .main {
    
    .title {
      font-size: 102px;
      letter-spacing: 0.3em;
      
      margin-top: 100px;
    }
    
    .aboutText {
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      height: 200px;
      margin-top: 100px;
      margin-bottom: 200px;
  
      .blankBox {
        padding: 30px;
        width: 55%;

        p {
          font-size: 24px;
        }
      }
  
      .profileImage {
        height: 450px;
        width: 450px;
        margin-left: auto;
        margin-right: auto;
      }
  
      .svg {
        width: 350px;
        height: 180px;
        margin-left: 5%;
      }
    }
  
    .techContainer {
      width: 80%;
      padding: 30px;
  
      .techTitle {
        font-size: 72px;
        letter-spacing: 0.3em;
        margin-bottom: 150px;
      }
  
      .techIconContainer {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        height: 100px;
  
        .iconTile {
          img {
            width: 100px;
            height: 100px;
          }
  
          p {
            font-weight: 600;
            font-size: 28px;
            margin: 0px;
          }
        }
      }
    }
  }
}

// desktop
@media screen and (min-width: $tablet-breakpoint) and (max-width: $desktop-breakpoint){
  .main {
    
    .title {
      font-size: 102px;
      letter-spacing: 0.3em;
      margin-top: 120px;
    }
    
    .aboutText {
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      height: auto;
      margin-top: 80px;
      margin-bottom: 100px;
  
      .blankBox {
        padding: 20px;
        width: 55%;

        p {
          font-size: 22px;
        }
      }
  
      .profileImage {
        height: 320px;
        width: 320px;
        margin-right: auto;
        margin-left: auto;
      }
  
      .svg {
        width: 300px;
        height: 150px;
        margin-left: auto;
        margin-right: auto;
      }
    }
  
    .techContainer {
      width: 80%;
      padding: 30px;
  
      .techTitle {
        font-size: 72px;
        letter-spacing: 0.3em;
        margin-bottom: 100px;
      }
  
      .techIconContainer {
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-evenly;
        width: 100%;
        height: 100px;
  
        .iconTile {
          margin: 40px;
          img {
            width: 100px;
            height: 100px;
          }
  
          p {
            font-weight: 600;
            font-size: 28px;
            margin: 0px;
          }
        }
      }
    }
  }
}

// Tablet
@media screen and (min-width: $mob-breakpoint) and (max-width: $tablet-breakpoint){
  .main {
    
    .title {
      font-size: 86px;
      letter-spacing: 0.3em;
      margin-top: 50px;
    }
    
    .aboutTextRight {
      flex-direction: column !important;
      align-items: flex-end;
    }

    .aboutText {
      flex-direction: column-reverse;
      width: 100%;
      height: auto;
      margin-top: 20px;
      margin-bottom: 100px;
  
      .blankBox {
        padding: 20px;
        width: 80%;

        p {
          font-size: 24px;
        }
      }
  
      .profileImage {
        height: 320px;
        width: 320px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 100px;
      }
  
      .svg {
        width: 350px;
        height: 180px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 100px;
      }
    }
  
    .techContainer {
      width: 80%;
      padding: 30px;
  
      .techTitle {
        font-size: 58px;
        letter-spacing: 0.3em;
        margin-bottom: 100px;
      }
  
      .techIconContainer {
        // flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-evenly;
        width: 100%;
        height: 100px;
  
        .iconTile {
          margin: 35px;
          img {
            width: 100px;
            height: 100px;
          }
  
          p {
            font-weight: 600;
            font-size: 28px;
            margin: 0px;
          }
        }
      }
    }
  }
}


// mobile (below a certain width)
@media screen and (max-width: $mob-breakpoint) {
  .main {
    
    .title {
      font-size: 64px;
      letter-spacing: 0.2em;
      margin-top: 50px;
    }
    
    .aboutTextRight {
      flex-direction: column !important;
      align-items: flex-end;
    }

    .aboutText {
      flex-direction: column-reverse;
      width: 100%;
      height: auto;
      margin-top: 20px;
      margin-bottom: 100px;
  
      .blankBox {
        padding: 20px;
        width: 80%;

        p {
          font-size: 18px;
        }
      }
  
      .profileImage {
        height: 280px;
        width: 280px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 100px;
      }
  
      .svg {
        width: 300px;
        height: 180px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 100px;
      }
    }
  
    .techContainer {
      width: 80%;
      padding: 30px;
  
      .techTitle {
        font-size: 58px;
        letter-spacing: 0.3em;
        margin-bottom: 100px;
      }
  
      .techIconContainer {
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        height: 100px;
  
        .iconTile {
          margin-bottom: 50px;
          img {
            width: 100px;
            height: 100px;
          }
  
          p {
            font-weight: 600;
            font-size: 28px;
            margin: 0px;
          }
        }
      }
    }
  }
}
