// import global styles variables file
@import "../../assets/styles/variables";

.nav {
  grid-row-start: 1;
  grid-row-end: 2;

  position: relative;

  display: flex;
  flex-direction: row;
  align-items: center;

  width: 100%;
  height: 100%;

  border-bottom: 1px solid black;

  .logo {
    position: absolute;
  }

  .link {
    text-decoration: none;
    color: $my-black;
  }

  ul {
    list-style-type: none;
    margin: auto;
    text-decoration: none;

    li {
      display: inline;
      margin: 80px;
    }
  }
}

// Responsive design

// ultra-wide screen (for screens wider than desktop-breakpoint)
@media screen and (min-width: $desktop-breakpoint) {
  .nav {
  
    ul {
      
  
      li {
        display: inline;
        margin: 80px;
      }
    }
  }
  
}

// desktop
@media screen and (min-width: $tablet-breakpoint) and (max-width: $desktop-breakpoint){
  .nav {
  
    ul {
     
  
      li {
        display: inline;
        margin: 80px;
      }
    }
  }
}

// Tablet
@media screen and (min-width: $mob-breakpoint) and (max-width: $tablet-breakpoint){
  .nav {
  
    ul {
    
  
      li {
        display: inline;
        margin: 50px;
      }
    }
  }
}

// mobile (below a certain width)
@media screen and (max-width: $mob-breakpoint) {
  .nav {
  
    ul {

  
      li {
        display: inline;
        margin: auto;
      }
    }
  }
}