// import global styles variables file
@import "../../assets/styles/variables";

.nav {
  position: sticky;
  top: 0;
  z-index: 10;

  display: flex;
  flex-direction: row;
  align-items: center;

  width: 100%;
  height: 100%;

  border-bottom: 1px solid black;
  background: $background-colour;

  .logo {
    position: absolute;
    left: 20px;

    img {
      width: auto;
      height: 90%;
      object-fit: cover;
    }

    &:hover {
      transform: scale(1.1);
    }
  }

  .link {
    text-decoration: none;
    color: $my-black;
    width: auto;

    &:hover {
      color: $secondary-colour
    }
  }

  ul {
    list-style-type: none;
    text-decoration: none;
    margin: auto;

    li {
      &:hover {
        text-decoration: underline;
      }
    }
  }

  .menu {
    position: absolute;
    right: 20px;
    .icon {
      font-size: 32px;
      text-align: center;
      color: $my-black;

      &:hover {
        color: $secondary-colour;
        font-size: 38px;
        cursor: pointer;
      }
    }
  }
}

// Responsive design

// ultra-wide screen (for screens wider than desktop-breakpoint)
@media screen and (min-width: $desktop-breakpoint) {
  .nav {
  
    ul {
  
      li {
        display: inline;
        margin: 80px;
        font-size: 20px;
      }
    }

    .icon {
      display: none;
    }
  }
  .bigHeight {
    height: 100%;
  }
}

// desktop
@media screen and (min-width: $tablet-breakpoint) and (max-width: $desktop-breakpoint){
  .nav {
    
  
    ul {
        
      li {
        display: inline;
        margin: 20px;
        font-size: 18px;
      }
    }

    .icon {
      display: none;
    }
  }

  .bigHeight {
    height: 100%;
  }
}

// Tablet
@media screen and (min-width: $mob-breakpoint) and (max-width: $tablet-breakpoint){
  .nav {

    .logo {
      width: 125px;
      height: auto;
      object-fit: cover;
    }
  
    ul {
  
      li {
        // display: inline;
        margin: 20px;
        font-size: 22px;
      }
    }
  }

  .bigHeight {
    height: 300% !important;
  }

  .invisible {
    display: none;
  }
}

// mobile (below a certain width)
@media screen and (max-width: $mob-breakpoint) {
  .nav {

    .logo {
      width: 125px;
      height: auto;
      object-fit: cover;
    }

    ul {

      li {
        // display: inline;
        margin: 20px;
        font-size: 18px;
      }
    }
  }

  .bigHeight {
    height: 300% !important;
  }

  .invisible {
    display: none;
  }
}