
/* global styles in here */
/* layout */
.page {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 60px 1fr 60px;

  width: 100vw;
}

.main {
  grid-row-start: 2;
  grid-row-end: 3;


  height: 100%;
  width: 100%;
}

.footer {
  grid-row-start: 3;
  grid-row-end: 4;
}

/* Responsive design */

/* ultra-wide screen (for screens wider than desktop-breakpoint) */
@media screen and (min-width: 1024px) {
  .page {
    /* grid-template-rows: 60px 1fr; */

  }
}

/* desktop */
@media screen and (min-width: 768px) and (max-width: 1024px){
  .page {
    /* grid-template-rows: 60px 1fr; */

  }
}

/* Tablet */
@media screen and (min-width: 480px) and (max-width: 768px){
  .page {
    /* grid-template-rows: 60px 1fr; */

  }
}

/* mobile (below a certain width) */
@media screen and (max-width: 480px) {
  .page {
    /* grid-template-rows: 60px auto; */

  }
}