// *** colours ***
$my-black: rgb(31, 30, 30);
$primary-colour: rgb(131, 89, 12);
$secondary-colour: rgb(47, 180, 47);
$background-colour: rgb(204, 188, 188);
// *** typography ***

//  font sizes

// *** variables ***
$mob-breakpoint: 480px;
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1024px;
$ultra-breakpoint: 1280px

// *** buttons ***

