// *** colours ***
$my-black: #1F1E1E;
$primary-colour: #297373;
$secondary-colour: #FF8552;
$background-colour: #FBFEF9;
$my-pink: #BF1363;
// *** typography ***

//  font sizes

// *** variables ***
$mob-breakpoint: 480px;
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1024px;
$ultra-breakpoint: 1280px

// *** buttons ***

