@import url('https://fonts.googleapis.com/css2?family=Old+Standard+TT:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,700;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500&display=swap');

// *** colours ***
$my-black: #1F1E1E;
$primary-colour: #297373;
$secondary-colour: #FF8552;
$background-colour: #FBFEF9;
$my-grey: #F1EDEE;
$my-pink: #BF1363;
// *** typography *** 297373
$font-serif: 'Old Standard TT', serif;
$font-standard: 'Montserrat', sans-serif;
$font-title: 'Lora', serif;
//  font sizes

// *** variables ***
$mob-breakpoint: 480px;
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1024px;
$ultra-breakpoint: 1280px

// *** buttons ***

